#####################################################################
# Tuning and Performance Settings
#####################################################################

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

[input_shaper]
# Re-measured 2026-09-13 via ADXL345 TEST_RESONANCES after XY belt retensioning (mzv, 0.0% vibrations both axes)
shaper_freq_x: 65.0
shaper_type_x: mzv
shaper_freq_y: 46.2
shaper_type_y: mzv

[adxl345]
cs_pin: rpi:None
spi_bus: spidev0.0

[resonance_tester]
accel_chip: adxl345
probe_points:
	150, 150, 20

[firmware_retraction]
retract_length: 0.6
retract_speed: 40
unretract_extra_length: 0
unretract_speed: 30

# Pressure advance tuning
# Current value in [extruder] section: 0.06
# Adjust via: SET_PRESSURE_ADVANCE ADVANCE=0.06
